*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body, html{
  height: 100%;
}
.App{
  height: 100vh;
  overflow: auto;
  background-color: #000000;
}
.App-header {

  background-color: #121212;
  padding: 0.25rem;
  margin: 0px;
  position: relative;
  z-index: 1000;
  min-height: 3.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.logo{
  width: 64px;
  height: 32px;
  position: relative;
}
a{
  width: min-content;
  height: 24px;
}

#search-form{
  display: flex;
  width: 782px;
  height: 2rem;
  background-color: white;
  border-radius: 4px;
  align-items: center;
}

#search-input{
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  height: 100%;
  width: 80%;
  margin: 0%;
  padding: 0;
}
#magnifying-glass{
  color: #7b7b7b;
}
#trending{
  display: flex;
  margin: 8px auto;
  justify-content: space-between;
  gap: 8px;
}
.slider{
  position: relative;
  width: 837px;
  height: 541px;
  margin-left: auto;
}
.image{
  width: 837px;
  height: 541px;
  
}
#overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 44;
  background:linear-gradient( 180deg,transparent 0%,transparent 65%,rgba(0, 0, 0, 0.7) 77%,rgb(0, 0, 0) 85%,rgb(0, 0, 0) 100% )
}
.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
}
.arrows{
  height: 66px;
  width: 50px;
  border-radius: 4px;
  padding: 20px 12px;
  box-sizing: border-box;
  border: 1px solid white;
  position: absolute;
  background: rgba(18,18,18, 0.45);
  z-index: 100;
  top: 40%;
  cursor: pointer;
  user-select: none;
}

#upnext{
  margin-right: auto;
  position: relative;
  width: 400px;
  font-weight: 600;
  color: #F5C518;
  line-height: 1.25rem;
}

#upnext span{
  font-size: 1.25rem;
  
}

#movies{
  margin-top: 1.25rem;
  background: linear-gradient(0deg, transparent 0%, transparent 50%, rgba(18, 18, 18, 0.7) 78%, rgb(18, 18, 18) 100%);
}
#upnext-child{
  display: flex;
  color: white;
  
  
}

#upnext-child h3{
  text-align: start;
  font-size: 1rem;
  font-weight: 400;
}

#name-and-data{
  width: 100%;
  
}
#name-and-data span{
  font-size: 0.875rem;
  color: rgba(255,255,255,0.7);
  font-weight: 400;
}

.search-page-container{
  width: 100%;
  background-color: #C8C8C4;
  height: 100%;
}

#search-page{
  width: 78.125vw;
  height: 100%;
  margin: 8px auto;
  box-sizing: border-box;
  background-color: white;
}

.search-heading{
  color: #F5C518;
}

.search-res{
  width: 619px;
  height: 45px;
  background-color: #f6f6f5;
}
.search-res img{
  width: 31px;
}



#movie-details, #show-details{
  background-color: white;
}

section.hero-section{
  background-color: #1F1F1F;
  padding: 0.5rem 1.5rem;
  
}

h1.title{
  color: white;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.125rem;
  margin-bottom: 0.625rem;
}

ul.small-details{
  display: flex;
  gap: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-weight: 400;
  
}
ul.small-details > li:first-child {
  list-style-type: none;
  
}

.poster-and-backdrop{
  display: flex;
  gap: 3px;
  width: 100%;

}
.poster{
  height: 415px;
  width: 280px;
}

.backdrop{
  width: 735px;
  height: 415px;
}

.poster img, .backdrop img{
  width: 100%;
  height: 100%;
}
ul#genres-list{
  display: flex;
  margin-top: 0.75rem;
}
ul#genres-list li{
  min-width: 70px;
  height: 1.75rem;
  display: flex;
  align-items: center;
  list-style-type: none;
  color: white;
  border: solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  box-sizing: border-box;
}
li.genre span{
  margin: 10px;
}
p#storyline{
  color: white;
  margin: 0.75rem 0;
  width: 70%;
  font-weight: 400;

}

.section-headline{
  display: flex;
  
  margin-bottom: 20px;
}
.section-headline .arrow{
  align-self: center;
  margin-left: 0.75rem;
}
.section-headline:hover .arrow{
  
  color: #F5C518;
}
.section-headline h2{
  font-size: 2rem;
  margin-left: 0.75rem;
  font-weight: bold;
}
.section-headline .presentation{
  width: 4px;
  border-radius: 50px;
  background-color: #F5C518;

}

section#cast{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.casted-person-info{
  display: flex;
  width: 25rem;
  align-items: center;
  margin: 1.25rem 0;
  
}

img.casted-person-pfp{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-position: 0px 0px;
  object-fit: cover;
}

.casted-person-details{
  margin-left: 10px;
}
.casted-person-details h5{
  font-size: 1rem;
  font-weight: 600;
}
.casted-person-details span{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}

section#box-office span{
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}